HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Spring Boot 설정 파일
application.yml
application.properties
application-*.yml
application-*.properties

# 로그, 임시 파일
*.log
logs/
*.tmp
*.bak
*.swp

# OS별 숨김 파일
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

